<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nail.shop.mappers.ShopDetailMapper">
    <insert id="insert" parameterType="ShopDetail"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO shops
        (
            owner_id,
            shop_id,
            company_id
        )
        VALUES
        (
            #{shop.ownerId},
            #{shop.shopId},
            #{shop.companyId}
        );

    </insert>
</mapper>