<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nail.shop.mappers.UserRolesMapper">

    <resultMap id="roleMapper" type="UserRoles">
        <id column="user_role_id" jdbcType="INTEGER" property="id"/>
        <result column="user_role" jdbcType="VARCHAR" property="role"/>
    </resultMap>

    <insert id="insert"  parameterType="UserRoles">
        INSERT INTO user_roles
        (
            id,
            user_id,
            role,
            permission
        )
        VALUES
        <foreach collection="roles" item="role" index="index" open="(" separator="),("  close=")">
            UUID_TO_BIN(uuid()),
            UUID_TO_BIN(#{role.userId}),
            #{role.role,jdbcType=VARCHAR},
            #{role.permission,jdbcType=NUMERIC}
        </foreach>
    </insert>

    <update id="update">
        UPDATE user_roles
        SET
        role = #{role}
        WHERE user_id = #{userId};
    </update>

</mapper>